@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Bold"),
    url("/portfolio-layout/fonts/Gilroy/gilroy-bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Medium")
    url("/portfolio-layout/fonts/Gilroy/gilroy-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inhearit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
}

.header__title {
  font-size: 47px;
  line-height: 58px;
  padding: 55px 100px 22px 26px;
}

.header__subtitle {
  font-size: 18px;
  padding: 0 0 42px 26px;
  line-height: 20px;
}

.header__image {
  padding: 0 0 84px 29px;
}

.about__container {
  background-color: #f6f6f6;
  padding-bottom: 34px;
}

.about__title {
  font-size: 34px;
  padding: 79px 0 37px 0;
  text-align: center;
}

.about__description {
  font-size: 18px;
}

.about__paragraph {
  line-height: 22px;
  padding: 0 0 43px 43px;
  display: flex;
}

.skills__title {
  font-size: 34px;
  color: #000;
  font-family: "Gilroy";
  padding: 82px 0 43px 0;
  text-align: center;
}

.skills__subtitle {
  font-size: 18px;
  text-align: center;
}

.skills__image {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills__img-desc {
  color: #828282;
  font-size: 14px;
  text-align: center;
}

.skills__item {
  padding: 20px 0;
}
.skills__list {
  padding: 58px 0;
  display: flex;
  flex-direction: column;
}
.skills__rating-stars {
  text-align: center;
  letter-spacing: 10px;
  padding-bottom: 44px;
}
